
.modalOverlay {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  
  
}
.modal {
    
    position: relative;
    -ms-grid-columns: max-content;
    -ms-template-columns: max-content;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: auto;
    height: 100%;
    top : 10%;
  margin-left: 5%;
  margin-right: 5%; 
    
    
    
}
.modal__content {
    position: relative;
    background-color: rgb(37, 36, 36);
    padding: 0.9em;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.close {
    color: red;
    float: right;
    font-size: 50px; 
}
.bord {
    width: 80%;
    background-color: white;
    border-radius: 15px;
    height : 5px;
    
  }
.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
.gridcontainer {

  -ms-grid: grid;
  display: grid;
  grid-template-columns:   50% 50%;
  -ms-grid-columns : 50% 50%;
  width : max-content;
    
     
      
}
.griditemstartnon {
    
      align-items: center;
      font-size: 17px;
      color: white;
      display: inline;
      cursor: pointer;
      vertical-align: middle;
      float: center;
}
.griditemcenter {
     

      margin-right: 8px;
      font-size: 17px;
      color: white;
      
}
.daddy {
    align-items: center;
    font-size: 21px;
    font-weight: bold;
    color: white;
   
}
.logo {
     
      height: 35px;
      width: 35px;
      margin-left: 0.8vw;
      vertical-align: middle;
}
.ldsdualring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .ldsdualring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: ldsdualring 1.2s linear infinite;
  }
  @keyframes ldsdualring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }