.gridcontainer {
  margin: 100px;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    border: 3px solid black;
    background-color: #4f5b66;
    width : max-content;
    border-radius: 3px;
    align-items: center;
  }
  .griditemstart {
    background-color: #4f5b66;
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px 5px 0px 5px;
    font-size: 17px;
    color: white;
    width: max-content;
  }
  .griditemstartnon {
    background-color: #4f5b66;
    padding: 1px 5px 0px 5px;
    font-size: 17px;
    color: white;
    width: max-content;
  }

  .griditemcenter {
    background-color: #4f5b66;
    padding: 1px 5px 0px 5px;
    font-size: 17px;
    color: white;
    width: max-content;
  }

  .gridimg {
    background-color:#4f5b66;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-width: medium;
    text-align: center;
    height: 35px;
    width: 35px;
    padding: 4px;
  }

  .gridimg img {
   
    height: 35px;
    width: 35px;
    }