.gridcontainer {
  margin: 100px;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    border: 3px solid black;
    background-color: #4f5b66;
    width : max-content;
    border-radius: 3px;
    align-items: center;
    
}
.griditemstart {
    background-color: #4f5b66;
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px 5px 0px 5px;
    font-size: 17px;
    color: white;
    width: max-content;
}
.griditemstartnon {
    background-color: #4f5b66;
    padding: 1px 5px 0px 5px;
    font-size: 17px;
    color: white;
    width: max-content;
    cursor: pointer;
}

.griditemcenter {
    background-color: #4f5b66;
    padding: 1px 5px 0px 5px;
    font-size: 17px;
    color: white;
    width: max-content;
}

.gridimg {
    background-color:#4f5b66;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-width: medium;
    text-align: center;
    height: 35px;
    width: 35px;
    padding: 4px;
}

.gridimg img {
   
    height: 35px;
    width: 35px;
}
.walicon{
  border-radius: 10px;
  margin-right: 10px;
 
}
.pricingItem2 ,.pricingItem , .accountInfoheader  {
  display: inline;
  font-size: 16px;
  position: relative;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  align-self: center;
  display: grid;
  grid-template-columns: max-content  max-content;
  width : 100%;
  border-radius: 7px;
  word-wrap: break-word;
  cursor: pointer;
  text-align: center;
  align-items: center;
 
  /*background-image: url(../img/svg/discount-bg-1.svg);*/
}
.disconnectButton  {
  float : left;
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  
  padding: 10px;
  min-width: 100px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
   transition: background-color 100ms linear;
  background: #e74c3c;
  color: #ffffff;
}
.pricingItem:hover {
  background-color: rgba(255, 255, 255, 0.185);
}
.pricingItem2 {
  background-color: rgba(255, 255, 255, 0.185);
}
.bord {
  color: white;
  width: 100%;
}

.accountInfoContainer{

  padding: 15px;
  
  color : white;
  font-weight: bold;
}
.thin{
  font-weight :lighter;
}




